
/* banner part start */

#banner {
    padding: 127px 0;
    background-color: #1C1E53;
    h1 {
        color: #fff;
    }
    p {
        color: #fff;
        padding-top: 24px;
    }
    a {
        padding-left: 40px;
    }
    i {
        padding-left: 16px;
        color: #fff;
    }
}

/* banner part end */
