
/* benefit part start */

#benefit {
    padding: 120px 0;
    h2 {
        text-align: center;
    }
    p {
        color: #282938;
        opacity: 0.7;
    }
}

.benefit_item {
    background-color: #EEF4FA;
    i {
        color: #2405F2;
        font-size: 30px;
    }
    h4 {
        padding-top: 26px;
    }
    p {
        padding-top: 12px;
        width: 324px;
    }
}

.benefit_text {
    p {
        margin-top: -10px;
    }
}

/* benefit part end */
