
/* frequently part start */

#frequently {
    padding-top: 128px;
    h3 {
        color: darkblue;
    }
    a {
        font-size: 18px;
        color: royalblue;
    }
}

.accordion-button {
    h4 {
        color: darkblue;
        span {
            color: royalblue;
            padding-right: 20px;
        }
    }
}

.accordion-body {
    p {
        padding-left: 50px;
    }
}

/* frequently part end */
