
/* use part start */

#use {
    padding-bottom: 120px;
    p {
        opacity: 0.7;
        padding-top: 10px;
    }
}

#free {
    padding: 120px 0;
    background-color: #F4F6FC;
    p {
        opacity: 0.7;
        padding-top: 10px;
    }
}

#support {
    padding: 120px 0;
    p {
        opacity: 0.7;
        padding-top: 10px;
    }
}

#quick {
    padding: 120px 0;
    background-color: rgba(252, 217, 128, 0.1);
    p {
        opacity: 0.7;
        padding-top: 10px;
    }
}

/* use part end */
